/* Fonts */

/* cuprum-regular - latin */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/cuprum-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cuprum-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700 - latin */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/cuprum-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cuprum-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-italic - latin */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/cuprum-v14-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cuprum-v14-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700italic - latin */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../fonts/cuprum-v14-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cuprum-v14-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/pt-sans-v16-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-sans-v16-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/pt-sans-v16-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-sans-v16-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #293449;
  --basic-dark: #32425c;
  --basic-neutral: #f1f5f7;
  --basic-extra-light: #f9f5f0;
  --basic-white: #ffffff;
  --basic-greylight: #c5c5c5;
  --basic-green: #63a63e;

  --special: #ee3643;
  --special-dark: #161d29;
  --special-darklight: #1d2739;
  --special-blue: #3bbce3;
  --special-greenlight: #8ed78f;
  --special-green: #367315;
  --special-greenclick: #518534;
  --success: #5fbb2d;
  --special-yellow: #ffbf47;
  --special-yellowlight: #ffd180;
  --special-lilac: #dc91d8;
  --special-grey: #a9a9a9;
  --special-error: #ba2732;
  --special-warning: #ca2c37;
  --special-greylight: #eaeaea;
  --special-lightgrey: #e5e5e5;
  --special-sorting: #f7f3ec;

  --form-grey: #f4f4f4;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-white);
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 11px 46px 9px 46px;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--special);
}

.btn:hover {
  background-color: var(--special-warning);
}

.btn:focus {
  background-color: var(--special-error);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-header {
  background-color: var(--basic-neutral);
  padding-bottom: 60px;
}

.header-logo {
  padding: 0;
  margin: 0;
}

.header-logo[href]:active {
  background-color: var(--special-error);
}

.header-logo img {
  width: 220px;
  height: 47px;
}

.header-menu {
  background-color: var(--basic-extra-dark);
  height: 42px;
}

.header-flex {
  display: flex;
  align-items: center;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  box-sizing: border-box;

  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-field {
  display: block;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background: transparent;
  border: none;
}

.search:hover .search-icon {
  opacity: 1;
}

.search:focus-within .search-icon,
.search:active .search-icon {
  opacity: 1;
}

.search:focus-within .search-icon path,
.search:active .search-icon path {
  fill: var(--special);
}

.search-field::placeholder {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* width: 460px; */
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.header-list a {
  display: block;
}

.header-item {
  position: relative;
}

.bookmark {
  padding: 9px 24px 9px 43px;
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/icon-bookmark.svg");
  opacity: 0.3;
}

.bookmark:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--special-dark);
}

.basket {
  padding: 9px 23px 9px 47px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  opacity: 0.3;
}

.basket:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--special-dark);
}

.bookmark:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmark:focus::before,
.basket:focus::before {
  opacity: 0.3;
}

.header-list a {
  color: var(--basic-white);
}

.header-cart {
  background: var(--special);
}

.checkout {
  padding: 9px 16px 9px 19px;
  background: var(--basic-green);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 44px;
  box-sizing: border-box;
}

.header-title {
  font-family: "Cuprum", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--special);
  margin: 0;
  margin-left: 20px;
}

.header-contacts {
  width: 270px;
  height: 45px;
  justify-self: center;
}

.header-phone {
  display: flex;
  position: relative;
  padding: 7px 50px 8px 60px;
  width: 270px;
  height: 45px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--special);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
}

.header-phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 30px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon/icon-phone.svg");
}

.header-text {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--basic-dark);
}

.login-link {
  position: relative;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link:hover {
  color: var(--special);
}

.login-link:focus {
  color: var(--basic-greylight);
}

.entry {
  padding-left: 45px;
}

.entry::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/icon-login.svg");
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark);
}

.nav-item:hover {
  background: var(--basic-extra-dark);
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark);
}

.nav-item:focus {
  color: rgba(255, 255, 255, 0.5);
  background: var(--special-darklight);
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark);
}

.nav-list a {
  padding: 16px 24px 20px 24px;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.page {
  height: 100%;
}

/* Main */

.promo {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  grid-template-areas:
    "materials tool tech"
    "slider slider discounts"
    "slider slider delivery";
  gap: 20px;
  padding-top: 59px;
  padding-bottom: 59px;
}

.promo-list {
  display: contents;
  padding: 0;
  margin: 0;
}

.promo-title {
  margin: 0;
  margin-bottom: 14px;
  padding-top: 20px;
  padding-left: 23px;
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-item {
  position: relative;
}

.materials {
  grid-area: materials;
  background-color: var(--special-yellow);
  overflow: hidden;
}

.materials::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon/icon-vedro.svg");
}

.tool {
  grid-area: tool;
  background-color: var(--special-blue);
}

.tool::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 31px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon/icon-drel.svg");
}

.tech {
  grid-area: tech;
  background-color: var(--special-lilac);
}

.tech::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon/icon-tractor.svg");
}

.discounts {
  grid-area: discounts;
  background-color: var(--special-greenlight);
}

.discounts::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-korz.png");
}

.delivery {
  grid-area: delivery;
  background-color: var(--special-yellow);
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-car.png");
}

.promo-link {
  padding: 10px 23px;
  margin-left: 23px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-link:focus {
  background-color: var(--special-grey);
  opacity: 0.3;
}

.promo-link:hover {
  background-color: var(--basic-greylight);
  opacity: 0.3;
}

.slider {
  grid-area: slider;
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-list {
  display: contents;
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  height: 266px;
  background-color: var(--basic-greylight);
}

.perforator {
  position: relative;
  background-image: url("../img/slider-perf.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perforator::before,
.drill::before {
  content: "";
  position: absolute;
  top: 122px;
  left: 24px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon/icon-left.svg");
  cursor: pointer;
}

.perforator::after,
.drill::after {
  content: "";
  position: absolute;
  top: 122px;
  right: 20px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon/icon-left.svg");
  transform: rotate(180deg);
  cursor: pointer;
}

.drill {
  position: relative;
  background-image: url("../img/Slider-drel.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-title {
  margin: 0;
  padding: 23px 0 5px 24px;
  font-family: "Cuprum", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.slider-text {
  margin: 0;
  padding-left: 24px;
  font-size: 18px;
  line-height: 24px;
}

.slider-link {
  position: absolute;
  left: 24px;
  bottom: 27px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--special);
}

.slider-link:hover {
  background-color: var(--special-warning);
}

.slider-link:focus {
  background-color: var(--special-error);
}

.slider-controls {
  position: absolute;
  left: 295px;
  bottom: 36px;
  z-index: 20px;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--special);
  border: 2px solid var(--basic-white);
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.products {
  margin-bottom: 70px;
}

.products-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  background-color: var(--basic-extra-light);
}

.products-title {
  margin: 0;
  margin-left: 28px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.popular-link {
  margin-right: 14px;
  padding: 11px 24px 9px 24px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
}

.products-item {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 220px;
  border: 1px solid var(--special-greylight);
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 184px;
  position: relative;
}

.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  object-fit: cover;
}

.new::after {
  content: "new";
  position: absolute;
  top: 8px;
  right: -25px;
  width: 100px;
  height: 30px;
  color: var(--basic-white);
  background-color: var(--special);
  transform: rotate(45deg);
  text-transform: uppercase;

  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

.products-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
}

.products-link h3 {
  margin: 0;
  margin-bottom: 7px;
}

.card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.old-price {
  margin-bottom: 13px;
  color: #a9a9a9;
}

.current-price {
  position: relative;
  margin-bottom: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  min-width: 125px;
  margin: auto 34px 21px 45px;
  padding: 10px;
  text-align: center;
  color: var(--basic-white);
  background: var(--special);
  border-radius: 3px;
}

.current-price::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -12px;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  background: var(--special);
}

.products-item:focus,
.products-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-item:focus .product-image,
.products-item:hover .product-image {
  display: none;
}

.product-item:focus .button-card,
.products-item:hover .button-card {
  display: block;
}

.button-card {
  display: none;
  width: 135px;
  height: 86px;
  margin-top: 38px;
  margin-bottom: 54px;
  order: -1;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.button-buy,
.button-bookmarks {
  border: none;
}

.buy {
  position: relative;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 38px;
  text-align: center;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-green);
  border-radius: 2px;
  color: var(--basic-white);
  text-transform: uppercase;
  box-sizing: border-box;
}

.buy::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  opacity: 0.5;
}

.buy:hover {
  background-color: var(--special-greenclick);
}

.buy:focus {
  background-color: var(--success);
}

.to-bookmarks {
  display: block;
  padding: 8px;
  width: 100%;
  height: 38px;
  text-align: center;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--basic-dark);
  text-transform: uppercase;
  box-sizing: border-box;
}

.to-bookmarks:hover {
  border: 3px solid var(--basic-dark);
}

.to-bookmarks:focus {
  color: var(--basic-dark);
  opacity: 0.5;
}

.manufacturer {
  margin-bottom: 70px;
}

.manufacturer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: var(--basic-extra-light);
}

.manufacturer-title {
  margin: 0;
  margin-left: 28px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.manufacturer-item {
  display: flex;
  margin-bottom: 20px;
  width: 218px;
  height: 145px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--special-greylight);
}

.manufacturer-item:hover,
.manufacturer-item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturer-item:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.manufacturer-item img {
  object-fit: contain;
}

.services {
  background-color: var(--basic-neutral);
}

.services-grid {
  position: relative;
  padding-top: 64px;
  padding-bottom: 100px;
  overflow: hidden;
}

.services-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-text {
  margin: 0;
  margin-bottom: 70px;
  display: inline-block;
  width: 394px;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-wrapper {
  display: flex;
}

.popap-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-right: 80px;
}

.popap-list::after {
  position: absolute;
  content: "";
  top: -49px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/img-line.png");
}

.popap-link {
  width: 240px;
  height: 60px;
  padding-top: 14px;
  padding-left: 22px;
  box-sizing: border-box;
  background: var(--basic-dark);
  color: var(--basic-white);
  box-shadow: inset 0px 1px 0px var(--basic-extra-dark);
}

.popap-link:hover {
  background-color: var(--basic-extra-dark);
}

.popap-active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  box-shadow: inset 0px 0px 0px var(--basic-extra-dark);
}

.services-list {
  margin: 0;
  padding: 0;
}

.list-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark);
  text-transform: uppercase;
}

.list-text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.image-track img {
  position: absolute;
  top: 257px;
  right: 10px;
}

.company {
  padding-top: 70px;
  padding-bottom: 70px;
  background: var(--basic-white);
}

.company-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 70px;
  height: 356px;
}

.company-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.company-text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.text-company {
  margin-bottom: 32px;
}

.text-next {
  margin-bottom: 1px;
}

.company-list {
  margin: 0;
  padding: 0;
  margin-left: 37px;
  margin-bottom: 20px;
}

.company-item {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.company-item:not(:last-child) {
  margin-bottom: 12px;
}

.company-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: var(--special);
}

.contacts {
  justify-self: end;
}

.contacts-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts-text {
  padding-bottom: 32px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts-map {
  margin-bottom: 25px;
}

.contacts-map iframe {
  width: 100%;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-rows: min-content 1fr;
  font-size: 16px;
  line-height: 18px;
}

.footer-top {
  padding-bottom: 50px;
  background-color: var(--basic-dark);
}

.footer-top-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer-menu-item:not(:last-child) {
  margin-right: 58px;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top-text {
  color: var(--basic-white);
  margin: 0;
}

.footer-tel {
  color: var(--basic-white);
}

.footer-menu a {
  color: var(--basic-white);
}

.footer-list {
  display: flex;
  justify-content: space-around;
}

.footer-list-item:not(:last-child) {
  margin-right: 58px;
}

.footer-list a {
  color: var(--special-yellowlight);
}

.footer-menu a:hover,
.footer-list a:hover {
  text-decoration: underline;
}

.footer-menu a:focus,
.footer-list a:focus {
  opacity: 0.5;
}

.footer-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--basic-extra-dark);
}

.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-text {
  margin: 0;
  color: var(--basic-white);
}

.social-list {
  display: flex;
  padding: 0;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.social-link:hover path:first-child,
.social-link:focus path:first-child {
  fill: var(--special);
}

.feedback {
  display: flex;
  flex-direction: column;
  color: var(--basic-white);
}

.developer {
  display: flex;
  flex-direction: column;
  color: var(--basic-white);
}

.developer-link,
.feedback-link {
  color: var(--special-yellowlight);
}

.developer-link:hover,
.feedback-link:hover {
  text-decoration: underline;
}

.developer-link:focus,
.feedback-link:focus {
  color: var(--special);
  text-decoration: none;
}

/* Catalog */

/* Header */

.basket-catalog::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 23px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  opacity: 0.3;
}

.basket-catalog {
  background-color: var(--special);
  padding: 9px 47px 9px 47px;
  margin-right: -33px;
}

.user-id {
  height: 45px;
}

.user-name {
  position: relative;
  padding: 11px 57px;
  margin: 0;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-name::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon/icon-user.svg");
}

.user-name::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 18px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/icon-logout.svg");
}

.user-link {
  position: relative;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
}

.user-name:focus,
.user-link:focus {
  opacity: 0.5;
}

.orders {
  margin-top: 7px;
  margin-left: 45px;
  margin-right: 35px;
}

.orders::after {
  position: absolute;
  content: "";
  top: 5px;
  right: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basic-dark);
}

.user-link:hover {
  color: var(--special);
}

.user-name:focus,
.user-link:focus {
  color: var(--basic-greylight);
}

/* Main */

.page-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-catalog {
  background-color: var(--basic-white);
  padding-top: 83px;
}

.page-catalog {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 59px;
}

.main-menu {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  margin-left: 15px;
}

.main-item:first-child {
  font-size: 0;
}

.main-item {
  position: relative;
}

.main-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 3px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon/icon-right-small.svg");
}

.main-item:not(:last-child) {
  margin-right: 41px;
}

.main-link {
  color: var(--basic-black);
}

.main-home {
  position: relative;
}

.main-home::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -15px;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon/icon-home.svg");
}

.page-title {
  padding: 28px 29px;
  margin: 0;
  margin-bottom: 19px;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark);
  background: var(--basic-neutral);
  text-transform: uppercase;
}

.tools {
  width: 220px;
}

.tools-filter {
  margin: 0;
  margin-bottom: 13px;
  padding: 9px 18px;
  background-color: var(--special-sorting);
  border-radius: 5px;
}

.form-filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form-filter .fieldset-price {
  border-bottom: 2px solid var(--special-grey);
}

.tools-price {
  margin-bottom: 10px;
}

.tools-range {
  padding-bottom: 24px;
}

.range-controls {
  position: relative;
  margin-bottom: 9px;
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 20px;
  height: 39px;
  background-color: var(--special-sorting);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  padding: 0;
  top: 28px;
  left: 0;
  width: 20px;
  height: 22px;
  background-image: url("../img/icon/filter-button.svg");
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-control label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--special-sorting);
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

.tools-manufacturers {
  padding-top: 15px;
}

.tools-list {
  position: relative;
  padding: 0;
  padding-left: 35px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--special-grey);
}

.tools-list:last-child {
  margin-bottom: 44px;
}

.tools-power-list {
  padding: 0;
  padding-left: 35px;
  margin-bottom: 35px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.tools-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 19px;
}

.tools-checkbox + label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.svg");
}

.tools-checkbox:checked + label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon/checkbox-on.svg");
}

.tools-checkbox:hover + label,
.tools-checkbox:focus + label,
.tools-radio:hover + label,
.tools-radio:focus + label {
  opacity: 0.5;
}

.tools-checkbox:hover + label::before,
.tools-checkbox:focus + label::before,
.tools-radio:hover + label::before,
.tools-radio:focus + label::before {
  opacity: 0.5;
}

.tools-radio + label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/radio-off.svg");
}

.tools-radio:checked + label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/radio-on.svg");
}

.tools-button {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 30px;
  text-transform: uppercase;
  background: var(--basic-white);
  border: 1px solid var(--special-lightgrey);
  box-sizing: border-box;
}

.tools-button:hover,
.tools-button:focus {
  opacity: 0.5;
}

.catalog-grid {
  margin-left: 20px;
}

.sorting {
  display: flex;
  align-items: center;
  background-color: var(--special-sorting);
  width: 700px;
  height: 36px;
  border-radius: 5px;
}

.sorting-title {
  margin: 0;
  padding: 10px 0px 10px 19px;
  margin-right: 140px;
}

.sorting-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sorting-link {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort {
  opacity: 0.5;
  border-bottom: 1px dotted var(--special);
}

.sort:hover {
  opacity: 1;
  border-bottom: 1px solid var(--special);
}

.sort:focus {
  opacity: 1;
  color: var(--special);
  border: none;
}

.sorting-up {
  position: absolute;
  top: 2px;
  right: 50px;
}

.sorting-down {
  position: absolute;
  top: 0;
  right: 20px;
  transform: rotate(180deg);
}

.sorting-up:hover path,
.sorting-down:hover path {
  fill: var(--basic-black);
}

.sorting-up:focus path,
.sorting-down:focus path {
  fill: var(--special);
}

.active {
  opacity: 1;
  color: var(--special);
  text-decoration: none;
}

.sorting-title,
.tools-filter {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.tools-price,
.tools-manufacturers,
.tools-power {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
}

.catalog {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
}

.button-panel {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.button-panel-item:not(:last-child) {
  margin-right: 10px;
}

.button-panel-link {
  padding: 9px 15px;
  color: var(--basic-black);
  border: 1px solid var(--special-lightgrey);
  box-sizing: border-box;
  border-radius: 2px;
}

.button-panel-link:hover {
  opacity: 0.5;
}

.button-panel-link:focus {
  border: 1px solid var(--special);
}

.button-active {
  color: var(--basic-white);
  background: var(--special);
}

.description {
  padding-top: 64px;
  padding-bottom: 68px;
  background-color: var(--basic-neutral);
  color: var(--basic-black);
}

.description-title {
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description-text {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

/* Modal */

/* form */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  background-color: var(--basic-white);
}

.modal-feedback {
  width: 620px;
  height: 430px;
  box-sizing: border-box;
  border-top: 7px solid var(--special);
}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 46px;
  padding-left: 80px;
  color: var(--basic-black);
  box-sizing: border-box;
}

.form-field {
  width: 220px;
  box-sizing: border-box;
}

.form-field-first {
  margin-right: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
}

.form-input {
  padding: 7px 8px 7px 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  box-sizing: border-box;
}

.label-area {
  margin-top: 13px;
}

.input-area {
  margin-bottom: 37px;
  width: 460px;
  padding-bottom: 84px;
}

.form-field-btn {
  padding: 37px 80px 37px 80px;
  width: 620px;
  background-color: var(--form-grey);
}

.btn-form {
  padding: 11px 9px;
  display: block;
  width: 460px;
  border: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 21px;
  height: 3px;
  background-color: var(--special);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  width: 943px;
  height: 449px;
  border-top: 7px solid var(--special);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* modal-cart */
.modal-cart {
  width: 620px;
  height: 282px;
  border-top: 7px solid var(--special);
}

.modal-cart-text {
  position: relative;
  font-family: "Cuprum", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
  padding-top: 74px;
  margin: 0;
  padding-bottom: 67px;
}

.modal-cart-text::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 55px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon/icon-korzina.svg");
  background-repeat: no-repeat;
}

.cart-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: var(--basic-neutral);
}

.cart-link {
  margin-right: 10px;
}

.cart-button {
  padding: 11px 31px 9px 32px;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  border: none;
  text-transform: uppercase;
  background-color: var(--basic-white);
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
